html,
body,
* {
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: 1px solid red;
  padding: 1em;
  margin-bottom: 2em;
}

nav h1 {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

nav ul {
  width: 50%;
  float: right;
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}

main {
  padding: 0 1em;
}

.nested_main {
  background: #eee;
  padding: 1em;
  height: 400px;
  width: 65%;
  float: left;
}

.sidebar {
  padding: 1em;
}
